*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFF8F0;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #6D4C41;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

header {
    direction: relative;
    background-color: #FFF1E6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 99%;
    border-radius: 16px;
    margin: 0 auto;

} 

header .top{
    display: flex;
    align-items: center;
    gap: 30px;
}

header .logo {
    width: 160px;
    border-radius: 10px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 8px;
}

header p {
    font-size: 1.05rem;
    color: #444;
    line-height: 1.5;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #6D4C41;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #A1887F;
}

nav {
    margin-top: 15px;
}

#pesquisa {
    position: absolute;
    top: 20px;
    right: 30px;
}

#pesquisa h2 {
    display: none;
}

#pesquisa input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #D7CCC8;
    font-family: 'Quicksand', sans-serif;
}

#pesquisa button {
    padding: 8px 14px;
    border: none;
    background-color: #6D4C41;
    color: #FFF;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s ease;
}








































































@media (max-width: 768px) {
    #pesquisa {
        position: static;   /* volta ao normal */
        margin-top: 20px;
        text-align: center;
    }
}
